header.header {
    font-family: "Geologica", sans-serif;
    box-shadow: 0 2px 4px #0006;
  
    .header__wrap {
      display: flex;
      height: 72px;
  
      &-title {
        font-size: 35px;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: rgb(180, 199, 203);
      }
    }
  }

  @media only screen and (max-width: 960px) {
    header.header {
      font-family: "Geologica", sans-serif;
      box-shadow: 0 2px 4px #0006;
    
      .header__wrap {
        display: flex;
        justify-content: center;
        height: 72px;
    
        &-title {
          font-size: 35px;
          font-weight: 600;
          display: flex;
          align-items: center;
          // justify-content: center;
          color: rgb(180, 199, 203);
        }
      }
    }
  }

  @media only screen and (max-width: 568px){
      
  }